.title-bar {
    width: 100%;
    padding: 5px 0;
    background-color: #eeeeee;
    position: relative;
}
.title-bar .left-menu {
}
.title-bar .right-menu {
}
.title-bar .menu-bar {
}

.title-bar .menu-bar li {
    display: inline;
}
.desktop {
    background-color: #438583;
    height: 100%;
}