<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include seo_header.html %}
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
        {% for css_name in page.extra_css %}
            <link rel="stylesheet" href="{{ css_name }}">
        {% endfor %}
        {% for js_name in page.extra_js %}
            <script type="text/javascript" src="{{ js_name }}"></script>
        {% endfor %}
    </head>
    <body>
        {{content}}
    </body>
</html>